@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&family=PT+Sans&family=Play&family=Ubuntu+Condensed&display=swap");
@keyframes hover-card {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    transform: translateY(-0.5rem) translateX(-0.5rem);
  }
}
@keyframes heading {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes proj-hidden {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(-190deg) scale(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #fff;
  background: clr-bg;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abel", sans-serif;
  animation: heading 1000ms ease-in-out 150ms both;
}

.btn:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.5s;
}

.navbar {
  border-bottom: 3px solid #008ed6;
  opacity: 0.8;
}

#main-footer, .main-footer {
  border-top: 3px solid #008ed6;
  opacity: 0.8;
  font-family: "Play", sans-serif;
}

#home-section, .home-section {
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 576px) {
  #home-section, .home-section {
    min-height: 900px;
  }
}

#home-section .dark-overlay, .home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}
@media screen and (max-width: 576px) {
  #home-section .dark-overlay, .home-section .dark-overlay {
    min-height: 900px;
  }
}

#home-section .home-inner, .home-section .home-inner {
  padding-top: 150px;
}

#about-section {
  background-color: rgba(0, 0, 0, 0.7);
}

.list ul li {
  list-style-type: square;
}

#works-section {
  background-color: rgba(0, 0, 0, 0.7);
}
#works-section .card-l {
  box-shadow: 0.4rem 0.4rem #dae0e5;
}
#works-section .card-r {
  margin-left: 3rem;
  box-shadow: 0.4rem 0.4rem #4c535c;
}
@media screen and (max-width: 576px) {
  #works-section .card-l {
    margin-bottom: 3rem;
  }
  #works-section .card-r {
    margin-left: 0;
  }
}
#works-section .card:hover {
  animation: hover-card 400ms ease-in-out 100ms alternate both;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}

#projects-section, .projects-section {
  background-color: rgba(0, 0, 0, 0.7);
}
#projects-section .proj-grid, .projects-section .proj-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
}
@media screen and (max-width: 576px) {
  #projects-section .proj-grid, .projects-section .proj-grid {
    grid-template-columns: 1fr;
  }
}
#projects-section .others, .projects-section .others {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  #projects-section .others, .projects-section .others {
    grid-template-columns: 1fr;
  }
}
#projects-section .others .other, .projects-section .others .other {
  width: 13rem;
  height: 13rem;
  margin-bottom: 1rem;
  box-shadow: 0.4rem 0.4rem #4c535c;
  position: relative;
}
#projects-section .others .other .logos, .projects-section .others .other .logos {
  display: flex;
  justify-content: space-between;
}
#projects-section .others .other .proj-body h4, .projects-section .others .other .proj-body h4 {
  font-weight: 600;
}
#projects-section .others .other .proj-foot, .projects-section .others .other .proj-foot {
  position: absolute;
  bottom: 0;
  left: 1rem;
}
#projects-section .others .other:hover, .projects-section .others .other:hover {
  animation: hover-card 400ms ease-in-out 100ms alternate both;
}
@media screen and (max-width: 576px) {
  #projects-section .others .other, .projects-section .others .other {
    display: block;
    width: 100%;
  }
}
#projects-section .proj-prev--1, .projects-section .proj-prev--1 {
  position: relative;
  transform-origin: top left;
}
#projects-section .proj-prev--1 .card, .projects-section .proj-prev--1 .card {
  box-shadow: 0.4rem 0.4rem #dae0e5;
}
#projects-section .proj-prev--1 .back--1, .projects-section .proj-prev--1 .back--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#projects-section .proj-prev--1:hover > .front--1, .projects-section .proj-prev--1:hover > .front--1 {
  animation: proj-hidden 800ms ease-in-out both;
}
#projects-section .proj-prev--1:hover > .back--1, .projects-section .proj-prev--1:hover > .back--1 {
  position: relative;
  overflow: hidden;
  animation: hover-card 400ms ease-in-out 100ms alternate both;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}
#projects-section .proj-prev--1:hover > .back--1 + .front--1, .projects-section .proj-prev--1:hover > .back--1 + .front--1 {
  position: absolute;
}
#projects-section .proj-prev--2, .projects-section .proj-prev--2 {
  position: relative;
  transform-origin: top left;
}
@media screen and (max-width: 576px) {
  #projects-section .proj-prev--2, .projects-section .proj-prev--2 {
    margin-top: 1.5rem;
  }
}
#projects-section .proj-prev--2 .card, .projects-section .proj-prev--2 .card {
  box-shadow: 0.4rem 0.4rem #dae0e5;
}
#projects-section .proj-prev--2 .back--2, .projects-section .proj-prev--2 .back--2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#projects-section .proj-prev--2:hover > .front--2, .projects-section .proj-prev--2:hover > .front--2 {
  animation: proj-hidden 800ms ease-in-out both;
}
#projects-section .proj-prev--2:hover > .back--2, .projects-section .proj-prev--2:hover > .back--2 {
  position: relative;
  overflow: hidden;
  animation: hover-card 400ms ease-in-out 100ms alternate both;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}
#projects-section .proj-prev--2:hover > .back--2 + .front--2, .projects-section .proj-prev--2:hover > .back--2 + .front--2 {
  position: absolute;
}
#projects-section .proj-prev--3, .projects-section .proj-prev--3 {
  position: relative;
  transform-origin: top left;
}
#projects-section .proj-prev--3 .card, .projects-section .proj-prev--3 .card {
  box-shadow: 0.4rem 0.4rem #dae0e5;
}
#projects-section .proj-prev--3 .back--3, .projects-section .proj-prev--3 .back--3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#projects-section .proj-prev--3:hover > .front--3, .projects-section .proj-prev--3:hover > .front--3 {
  animation: proj-hidden 800ms ease-in-out both;
}
#projects-section .proj-prev--3:hover > .back--3, .projects-section .proj-prev--3:hover > .back--3 {
  position: relative;
  overflow: hidden;
  animation: hover-card 400ms ease-in-out 100ms alternate both;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}
#projects-section .proj-prev--3:hover > .back--3 + .front--3, .projects-section .proj-prev--3:hover > .back--3 + .front--3 {
  position: absolute;
}
#projects-section .proj-prev--4, .projects-section .proj-prev--4 {
  position: relative;
  transform-origin: top left;
}
#projects-section .proj-prev--4 .card, .projects-section .proj-prev--4 .card {
  box-shadow: 0.4rem 0.4rem #dae0e5;
}
#projects-section .proj-prev--4 .back--4, .projects-section .proj-prev--4 .back--4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#projects-section .proj-prev--4:hover > .front--4, .projects-section .proj-prev--4:hover > .front--4 {
  animation: proj-hidden 800ms ease-in-out both;
}
#projects-section .proj-prev--4:hover > .back--4, .projects-section .proj-prev--4:hover > .back--4 {
  position: relative;
  overflow: hidden;
  animation: hover-card 400ms ease-in-out 100ms alternate both;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}
#projects-section .proj-prev--4:hover > .back--4 + .front--4, .projects-section .proj-prev--4:hover > .back--4 + .front--4 {
  position: absolute;
}
#projects-section blockquote, .projects-section blockquote {
  font-family: "Play", sans-serif;
  font-size: 0.6rem;
  opacity: 0.8;
}
#projects-section .video, .projects-section .video {
  border: 2px solid gray;
  border-radius: 50px 0px 50px 0px;
  box-shadow: 6px 6px 6px 6px;
  background-color: #455f69;
  color: #fff;
}
#projects-section .video > video, .projects-section .video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact-section .btn:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.5s;
}

/*# sourceMappingURL=style.css.map */
