// colors
$clr-txt: #fff;
$clr-bg: #333;
$clr-border-nav-foot: #008ed6;
$clr-dark-overlay: rgba(0, 0, 0, 0.7);
$clr-light: #f8f9fa;
$clr-bg-heading: #353a40;


$opacity-nav-foot: 0.8;

$size-shadow: .4rem;
$icon-size: 25px;

$grid-gutter: 1.5rem;

$breakpoints: (
    mobile: 576px
);